<h3 class="center-align text-shadow" id="welcome-header">Nếu được làm một siêu anh hùng, bạn sẽ chọn làm ai?</h3>
<br />
<div class="row">
    <div class="col m3">

        <div class="card change-footer" ng-click="vm.wait()">
            <div class="card-image">
                <img src="img/spiderman.png" class="blur spiderman">

                <span class="card-title text-stroke"><h5 class="spiderman">Spiderman</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card change-footer" ng-click="vm.wait()">
            <div class="card-image">
                <img src="img/superman.jpg" class="blur superman">

                <span class="card-title text-stroke"><h5 class="superman">Superman</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card change-footer" ng-click="vm.wait()">
            <div class="card-image">
                <img src="img/batman.jpg" class="blur batman">

                <span class="card-title text-stroke"><h5 class="batman">Batman</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card change-footer" ng-click="vm.wait()">
            <div class="card-image">
                <img src="img/deadpool.jpg" class="blur deadpool">

                <span class="card-title text-stroke"><h5 class="deadpool">Deadpool</h5></span>
            </div>
        </div>

    </div>

</div>
