<h3 class="center-align text-shadow" id="welcome-header">Trong các thức uống dưới đây, bạn thích loại nào nhất?</h3>
<br />
<div class="row">
    <div class="col m3">

        <div class="card" ng-click="vm.goEighth()">
            <div class="card-image">
                <img src="img/coke.jpg" class="blur">

                <span class="card-title text-stroke"><h5>Nước ngọt</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card" ng-click="vm.goEighth()">
            <div class="card-image">
                <img src="img/juice.jpg" class="blur">

                <span class="card-title text-stroke"><h5>Nước hoa quả</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card" ng-click="vm.goEighth()">
            <div class="card-image">
                <img src="img/wine.jpg" class="blur">

                <span class="card-title text-stroke"><h5>Rượu</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card" ng-click="vm.goEighth()">
            <div class="card-image">
                <img src="img/beer.jpg" class="blur">

                <span class="card-title text-stroke"><h5>Bia</h5></span>
            </div>
        </div>

    </div>

</div>
