<h3 class="center-align text-shadow" id="welcome-header">Trong các đất nước dưới đây, bạn thích đất nước nào nhất?</h3>
<br />
<div class="row">
    <div class="col m3">

        <div class="card" ng-click="vm.goForth()">
            <div class="card-image">
                <img src="img/uk.jpg" class="blur uk">

                <span class="card-title text-stroke"><h5 class="uk">Anh</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card" ng-click="vm.goForth()">
            <div class="card-image">
                <img src="img/singapore.jpg" class="blur singapore">

                <span class="card-title text-stroke"><h5 class="singapore">Singapore</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card" ng-click="vm.goForth()">
            <div class="card-image">
                <img src="img/us.jpeg" class="blur us">

                <span class="card-title text-stroke"><h5 class="us">Mỹ</h5></span>
            </div>
        </div>

    </div>
    <div class="col m3">

        <div class="card" ng-click="vm.goForth()">
            <div class="card-image">
                <img src="img/australia.jpg" class="blur australia">

                <span class="card-title text-stroke"><h5 class="australia">Úc</h5></span>
            </div>
        </div>

    </div>

</div>
